@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: black;
}
/* 
.top{
    margin-left: 55rem;
    margin-top: -1rem;
    opacity: .2;
} */

/* header{
    margin-top: -29rem;
} */

label, .check_icon{
    display: none;
}

.hr{
    border-bottom: 1px solid white;
    margin-top: 1rem;
}

.centre{
    max-width: 1000px;
    margin: auto;
}

.log{
    display: none;
}

.sea{
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    margin-top: -1.3rem;
    /* font-size: 1rem; */
  }
  
  .nav-menu {
    display: flex;
  }
  
  .nav-menu li {
    margin: 0 15px;
  }
  
  .nav-menu a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: .8rem;
    transition: color 0.3s ease;
  }
  
  .nav-menu a.active {
    color:  #c7a17a;
  }
  
  .nav-menu a:hover {
    color:  #c7a17a;
  }
  
  .logo img {
    height: 15vh;
  }
  

.content{
    margin-block: 3rem;
    /* border: 2px solid red; */
    /* height: 90vh; */
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    align-items: center;
}

.content1{
    
    color: white;
    margin-top: -8rem;
}

.content1{
    /* border: 2px solid red; */
    width: 50%;
}

.content1>h1, h2{
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
}

.content1>h1{
    font-size: 5rem;
    font-weight: 400;
}

.content1>h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: -4rem;
}

.content1>h2>span{
    font-size: 3rem;
    color: #c7a17a;
}

.pro{
    margin-left: 16rem;
    margin-top: -5rem;
    height: 7vh;
    
}

.tet>a{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin-right: 1rem;
    font-size: .8rem;
}

.btn>button{
    margin-block: 2rem;
   height: 2rem;
   width: 8rem;
   background-color: #c7a17a;
   color: white;
   font-size: 1.3rem;
   border-radius: 5px;
   text-transform: uppercase;
   font-weight: normal;
   font-family: "Bebas Neue", sans-serif;
}

.social{
    display: flex;
    align-items: center;
}

.tet{
    display: flex;
    align-items: center;
    gap: .4rem;
}

.tet>p{
    margin-right: 1rem;
    font-size: .8rem;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
}

.content2>img{
    width: 80%;
}

@media(min-width: 320px) and (max-width: 700px){

    .top{
        display: none;
        /* margin-left: -6rem;
        margin-top: -1rem;
        opacity: .2; */
    }

    header{
        margin-top: 1rem;
    }

    .log{
        display: block;
        height: 10vh;
      }

      .log>img{
        height: 13vh;
        margin-top: -2rem;
        /* margin-left: 1rem; */
      }

      .hr{
        margin-top: 1.9rem;
      }

      .sea{
        display: block;
        /* height: 10vh; */
        color: #fff;
      }

      .sea>i{
        margin-left: 20.5rem;
        /* margin-top: -19rem; */
        height: 5rem;
      }

    label{
        display: block;
        font-size: 2rem;
        margin-top: -10rem;
        margin-left: 20rem;
        cursor: pointer;
        color: #c7a17a;
    }

    .nav-menu{
        padding: 0;
        display: flex;
        /* text-align: center; */
        align-items: center;
        /* justify-content: space-between; */
        gap: 1rem;
        flex-direction: column;
    }  
    
    .logo{
        display: none;
    }

    .bar{
        display: none;
    }

    .nav-menu>li>a{
        width: 20vh;
        color: #fff;
        font-size: 18px;
        /* gap: 2rem; */
        /* padding: 0.6rem; */
        text-align: center;
        border-bottom: 2px solid;
    }

    .navbar{
        display: none;
        position: absolute;
        width: 340px;
        padding: 1.8rem;
        top: 7rem;
        right: 3px;
        z-index: 1;
        background-color: rgb(32, 30, 30);
        opacity: .97;
        border-bottom: 4px solid wheat;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #toggle:checked + .navbar{
        display: block;
        transform: none;
    }
    

    .content{
        flex-direction: column;
        margin-top: 7rem;
    }

    .content1{
        /* border: 2px solid; */
        width: 100%;
        text-align: center;
    }

    .content1>h2{
        font-size: 2rem;
    }
    .content1>h2>span{
        font-size: 2.3rem;
    }
    /* .content1>p{
        border: 2px solid;
    } */
    .pro{
        height: 5vh;
        margin-left: 13rem;
        margin-bottom: .7rem;
    }

    .content2{
        text-align: center;
    }

    .social{
        justify-content: center;
    }

}

/* main code */
.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.box1{
    background-image: url(img/beautiful-fresh-relax-morning-coffee-cup-set.jpg);
    background-size: cover;
    height: 35vh;
    border: 1px solid white;
}

.box>h5{
    color: wheat;
    /* font-size: 1rem; */
    padding-left: 1.4rem;
    padding-top: .1rem;
    font-family: "Bebas Neue", sans-serif;
}

.box{
    background: linear-gradient(to bottom, black, rgba(255, 255, 255, 0.233));
    padding-top: .1rem;
    height: 35vh;

}

.box>h2{
    text-transform: uppercase;
    color: white;
    padding-left: 1.4rem;
    margin-top: -1rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}
.box>p{
    text-transform: uppercase;
    color: white;
    width: 15rem;
    padding-left: 1.4rem;
    margin-top: -1rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: .6rem;
}

.box2{
    background-image: url(https://m.media-amazon.com/images/I/51HerHOKJnL._AC_SL1000_.jpg);
    background-size: cover;
    height: 35vh;
    border: 1px solid white;
}
.box3{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKXlHI1zLXJCvzqbU3pC9PCJDNUZkTBgMEdRyfT5V7quWO8hWpEugNgd-7_FURedCyaAk&usqp=CAU);
    background-size: cover;
    height: 35vh;
    border: 1px solid white;
}

@media (min-width:360px) and (max-width:600px) {
    .wrap{
        grid-template-columns: 1fr;
        margin-block: 4rem;
    }
}

