@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: black;
}
/* 
.top{
    margin-left: 55rem;
    margin-top: -1rem;
    opacity: .2;
} */

/* header{
    margin-top: -29rem;
} */

label, .check_icon{
    display: none;
}

.hr{
    border-bottom: 1px solid white;
    margin-top: 1rem;
}

.centre{
    max-width: 1000px;
    margin: auto;
}

.log{
    display: none;
}

.sea{
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    margin-top: -1.3rem;
    /* font-size: 1rem; */
  }
  
  .nav-menu {
    display: flex;
  }
  
  .nav-menu li {
    margin: 0 15px;
  }
  
  .nav-menu a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: .8rem;
    transition: color 0.3s ease;
  }
  
  .nav-menu a.active {
    color:  #c7a17a;
  }
  
  .nav-menu a:hover {
    color:  #c7a17a;
  }
  
  .logo img {
    height: 15vh;
  }
  

.content{
    margin-block: 3rem;
    /* border: 2px solid red; */
    /* height: 90vh; */
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    align-items: center;
}

.content1{
    
    color: white;
    margin-top: -8rem;
}

.content1{
    /* border: 2px solid red; */
    width: 50%;
}

.content1>h1, h2{
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
}

.content1>h1{
    font-size: 5rem;
    font-weight: 400;
}

.content1>h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: -4rem;
}

.content1>h2>span{
    font-size: 3rem;
    color: #c7a17a;
}

.pro{
    margin-left: 16rem;
    margin-top: -5rem;
    height: 7vh;
    
}

.content1>p{
    font-family: "Roboto", serif;
}

.tet>a{
    font-family: "Roboto", serif;
    font-weight: 550;
    color: white;
    text-transform: uppercase;
    margin-right: 1rem;
    font-size: .8rem;
}

.btn>button{
   margin-block: 2rem;
   height: 2rem;
   width: 8rem;
   background-color: #c7a17a;
   color: white;
   font-size: 1.3rem;
   border-radius: 5px;
   text-transform: uppercase;
   font-weight: normal;
   font-family: "Bebas Neue", sans-serif;
}

.social{
    display: flex;
    align-items: center;
}

.tet{
    display: flex;
    align-items: center;
    gap: .4rem;
}

.tet>p{
    margin-right: 1rem;
    font-size: .8rem;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
}

.content2>img{
    width: 90%;
}

@media(min-width: 320px) and (max-width:    600px){

    .top{
        display: none;
        /* margin-left: -6rem;
        margin-top: -1rem;
        opacity: .2; */
    }

    header{
        margin-top: 1rem;
    }

    .log{
        display: block;
        height: 10vh;
      }

      .log>img{
        height: 13vh;
        margin-top: -2rem;
        /* margin-left: 1rem; */
      }

      .hr{
        margin-top: 1.9rem;
      }

      .sea{
        display: block;
        /* height: 10vh; */
        color: #fff;
      }

      .sea>i{
        margin-left: 20.5rem;
        /* margin-top: -19rem; */
        height: 5rem;
      }

    label{
        display: block;
        font-size: 2rem;
        margin-top: -10rem;
        margin-left: 20rem;
        cursor: pointer;
        color: #c7a17a;
    }

    .nav-menu{
        padding: 0;
        display: flex;
        /* text-align: center; */
        align-items: center;
        /* justify-content: space-between; */
        gap: 1rem;
        flex-direction: column;
    }  
    
    .logo{
        display: none;
    }

    .bar{
        display: none;
    }

    .nav-menu>li>a{
        width: 20vh;
        color: #fff;
        font-size: 18px;
        /* gap: 2rem; */
        /* padding: 0.6rem; */
        text-align: center;
        border-bottom: 2px solid;
    }

    .navbar{
        display: none;
        position: absolute;
        width: 340px;
        padding: 1.8rem;
        top: 7rem;
        right: 3px;
        z-index: 1;
        background-color: rgb(32, 30, 30);
        opacity: .97;
        border-bottom: 4px solid wheat;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #toggle:checked + .navbar{
        display: block;
        transform: none;
    }
    

    .content{
        flex-direction: column;
        margin-top: 7rem;
        gap: 5rem;
    }

    .content1{
        /* border: 2px solid; */
        width: 100%;
        text-align: center;
    }

    .content1>h2{
        font-size: 2rem;
    }
    .content1>h2>span{
        font-size: 2.3rem;
    }
    /* .content1>p{
        border: 2px solid;
    } */
    .pro{
        height: 5vh;
        margin-left: 13rem;
        margin-bottom: .7rem;
    }

    .content2{
        text-align: center;
    }

    .social{
        justify-content: center;
    }

}

/* main code */
.wrap{
    margin-block: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.box1{
    background-image: url(img/beautiful-fresh-relax-morning-coffee-cup-set.jpg);
    background-size: cover;
    height: 35vh;
    border: 1px solid white;
}

.box>h5{
    color: wheat;
    /* font-size: 1rem; */
    padding-left: 1.4rem;
    padding-top: .1rem;
    font-family: "Bebas Neue", sans-serif;
}

.box{
    background: linear-gradient(to bottom, black, rgba(255, 255, 255, 0.233));
    padding-top: .1rem;
    height: 35vh;

}

.box>h2{
    text-transform: uppercase;
    color: white;
    padding-left: 1.4rem;
    margin-top: -1rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}
.box>p{
    text-transform: uppercase;
    color: white;
    width: 15rem;
    padding-left: 1.4rem;
    margin-top: -1rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: .6rem;
}

.box2{
    background-image: url(https://m.media-amazon.com/images/I/51HerHOKJnL._AC_SL1000_.jpg);
    background-size: cover;
    height: 35vh;
    border: 1px solid white;
}
.box3{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKXlHI1zLXJCvzqbU3pC9PCJDNUZkTBgMEdRyfT5V7quWO8hWpEugNgd-7_FURedCyaAk&usqp=CAU);
    background-size: cover;
    height: 35vh;
    border: 1px solid white;
}

@media (min-width:320px) and (max-width:600px) {
    .wrap{
        grid-template-columns: 1fr;
        margin-block: 4rem;
    }
}

/* section two */

.part_two{
    margin-block: 3rem;
    display: flex;
}

.part>img{
    width: 90%;
}
.part>p{
    margin-top: -11rem;
    margin-left: 13rem;
    color: wheat;
    /* text-spacing-trim: 4rem; */
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
}

.part_three{
    /* border: 2px solid lightblue;
    height: 70vh; */
    width: 90%;
}

.btn-btn{
    text-align: end;
}

.btn-btn>button{
    margin-block: 2rem;
   height: 2rem;
   width: 8rem;
   background-color: #c7a17a;
   color: white;
   font-size: .9rem;
   border-radius: 5px;
   letter-spacing: .1rem;
   text-transform: uppercase;
   font-weight: 600;
   font-family: "Roboto", serif;
}

.part_three>h1{
    margin-top: -1rem;
    color: white;
    text-align: end;
    margin-left: 16rem;
    width: 24rem;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
}

.part_three>p{
    color: white;
    width: 23rem;
    text-align: end;
    margin-left: 17rem;
    font-weight: normal;
    font-size: .8rem;
    font-family: "Roboto", serif;
}

.aba{
    display: flex;
    color: white;
    justify-content: end;
    gap: 3rem;
    align-items: center;
}

.aba>p{
    font-size: 1.2rem;
    text-transform: uppercase;
}

.aba>i{
    font-size: 2.4rem;
    /* margin-left: -4rem; */
    /* margin-right: 3rem; */
}

.aba>button{
    margin-block: 2rem;
    height: 2.5rem;
    width: 8rem;
    background-color: #c7a17a;
    color: white;
    font-size: .8rem;
    border-radius: 5px;
    /* letter-spacing: .2rem; */
    text-transform: uppercase;
    font-weight: 550;
    font-family: "Roboto", serif;
}

@media (min-width:330px) and (max-width:600px) {
    .part_two{
        flex-direction: column;
        gap: 5rem;
    }

    .btn-btn>button{
        margin-right: -1rem;
    }

    .part_three>h1{
        margin-left: -1rem;
        /* border: 1px solid wheat; */
    }

    .part_three>p{
        margin-left: -.1rem;
    }

    .aba>p{
        font-size: .8rem;
        /* border: 2px solid wheat; */
        width: 8rem;
    }

    .aba>button{
        margin-right: -.3rem;
    }

}

/* section four */

.sec_four{
    margin-block: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.secs{
    /* border: 2px solid white; */
    color: white;
    width: 16rem;
}

.bss>div{
    height: 5vh;
    width: 5vh;
    margin-left: 2rem;
    background-color: rgb(58, 57, 57);
    border-radius: 100%;
}

.bss>img{
    margin-top: -4rem;
    margin-left: 3rem;
    /* text-align: center; */
    height: 3rem;
}

.bss>h2{
    margin-top: -.3rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

.bss>p{
    margin-top: -1rem;
    font-family: "Roboto", serif;
    font-size: .9rem;
}

@media(min-width:320px) and (max-width:600px){
    .sec_four{
        grid-template-columns: 1fr;
        text-align: center;
        margin-left: 4rem;
    }

    .secs{
        text-align: center;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .bss>div{
        margin-left: 7rem;
    }
}

/* section five */

.manu{
    margin-block: 3rem;
}

.h4>h4{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: .1rem;
    font-weight: 400;
}

.h4>div{
    background-color: #c7a17a;
    height: 4vh;
    border-radius: 3px;
    width: 12vh;
    margin-left: 29rem;
    margin-bottom: -2.7rem;
}

.manu>h1{
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: -.2rem;
}

.card{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ban{
    color: #fff;
    border: 1px solid #fff;
    width: 70vh;
    height: 12vh;
    margin-bottom: 4rem;
    margin-left: 2rem;
}

.ban>img{
    border-radius: 100%;
    height: 10vh;
    width: 10vh;
    margin-left: -2rem;
    margin-bottom: -3.4rem;
}

.ban>h2{
    margin-left: 4rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    margin-top: -.1px;
}

.ban>p{
    margin-left: 24rem;
    margin-top: -2.9rem;
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    color: #c7a17a;
}

@media (min-width:320px) and (max-width:600px) {

    .h4>h4{
        color: white;
        /* margin-top: -.1rem; */
    }

    .h4>div{
        background-color: #c7a17a;
        height: 4vh;
        border-radius: 3px;
        width: 12vh;
        font-size: 1.3rem;
        margin-left: 9.3rem;
        /* margin-bottom: -rem; */
        /* margin-bottom: -2.7rem; */
    }

    .card{
        grid-template-columns: 1fr;
        /* margin-left: 1rem; */
    }

    .ban{
        color: #fff;
        border: 2px solid #fff;
        width: 43vh;
        height: 12vh;
        margin-bottom: 4rem;
        margin-right: 5rem;
    }
    
    .ban>img{
        border-radius: 100%;
        height: 9vh;
        width: 9vh;
        margin-left: -2rem;
        margin-bottom: -4.3rem;
    }
    
    .ban>h2{
        margin-left: 3rem;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        padding-top: .6rem;
        /* margin-top: -.1px; */
        /* font-size: 1.2rem; */
    }
    
    .ban>p{
        margin-left: 16rem;
        margin-top: -3.1rem;
        /* font-size: 1.2rem; */
        font-family: "Bebas Neue", sans-serif;
        font-weight: 100;
        color: #c7a17a;
    }
}

/* section six */

.h2>h4{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: .1rem;
    font-weight: 400;
}

.h2>div{
    background-color: #c7a17a;
    height: 4vh;
    border-radius: 3px;
    width: 15vh;
    margin-left: 28rem;
    margin-bottom: -2.7rem;
}

.top_grade>h1{
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: -.2rem;
}

.bean>h1{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    margin-top: -.1rem;
}
.bean1{
    margin-top: 1.1rem;
}
.bean>p{
    color: #fff;
    font-family: "Roboto", serif;
    font-size: .8rem;
    margin-top: -.5rem;
    font-weight: normal;
    width: 15rem;
}
.bean1>h1{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    margin-top: -.1rem;
}

.bean1>p{
    color: #fff;
    font-family: "Roboto", serif;
    font-size: .8rem;
    margin-top: -.5rem;
    font-weight: normal;
    width: 15rem;
}

.bag{
    align-items: center;
    text-align: center;
    width: 19rem;
    /* border: 2px solid wheat; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 3rem; */
}

.line{
    border-bottom: 1px solid white;
    margin-block: 1rem;
    display: flex;
    gap: 13rem;
    padding-left: 17rem;
    /* display: grid;
    grid-template-columns: repeat(4) 1fr; */
}

.line>div{
    margin-bottom: -1rem;
    border-radius: 100%;
    border: 1px solid white;
    height: 2rem;
    color: white;
    font-family: "Roboto", serif;
    font-size: .9rem;
    text-align: center;
    width: 2rem;
    padding-top: .4rem;
    background-color: black;
}

.line2{
    display: none;
}


@media(min-width:320px) and (max-width:600px){
    .h2>h4{
        color: white;
        /* margin-top: -.1rem; */
    }

    .h2>div{
        background-color: #c7a17a;
        height: 4vh;
        border-radius: 3px;
        width: 12vh;
        font-size: 1.3rem;
        margin-left: 9.3rem;
        /* margin-bottom: -rem; */
        /* margin-bottom: -2.7rem; */
    }

    .bag{
        grid-template-columns: 1fr;
        margin-left: 3rem;
    }
    .bean>p, .bean1>p{
        margin-left: 2rem;
        /* border: 2px solid wheat; */
    }

    .line>div{
        display: none;
    }

    .line2{
        display: block;
        color: #c7a17a;
    }

    .line2>div{
        margin-top: -16rem;
        margin-left: 4rem;
        border-radius: 100%;
        border: 1px solid white;
        height: 2rem;
        color: white;
        font-family: "Roboto", serif;
        font-size: .9rem;
        text-align: center;
        width: 2rem;
        padding-top: .4rem;
        background-color: black;
    }

   
}

.every{
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url(img/coffee-cup-coffee-beans-black-wooden-background_88281-429.avif);
    /* height: 100vh; */
    margin-block: 4rem;
}
.thing{
    background: linear-gradient(to bottom, black, rgba(133, 133, 133, 0));
    height: 70vh;
}

.back>h1{
    text-align: center;
    width: 36rem;
    color: white;
    /* border: 2px solid white; */
    font-family: "Roboto", serif;
    font-weight: 600;
    margin-left: 14rem;
    font-size: 2rem;
    padding-top: 3rem;
}

.back>img{
    margin-left: 28rem;
    height: 5rem;
}

.black{
    /* align-items: center; */
    /* text-align: center; */
    /* margin-left: ; */
    background-color: black;
    height: 60vh;
    width: 100vh;
    padding: 2rem;
    padding-top: 4rem;
}

.gold{
    /* margin: 2rem; */
    border: 1px solid #c7a17a;
    height: 30vh;
    width: 90vh;
}
.gold1{
    margin-left: 1rem;
    margin-top: -1rem;
    /* margin: 2rem; */
    border: 1px solid #c7a17a;
    height: 35vh;
    width: 85vh;
}

.gold1>h2{
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.gold1>p{
    color: #fff;
    text-align: center;
    margin-top: -2rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: .8rem;
}

.inp{
    border-bottom: 1px solid white;
    width: 15rem;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.inp>input{
    /* border-bottom: 1px solid white; */
    width: 10rem;
    margin-top: 1rem;
    /* text-align: center; */
    margin-left: 1rem;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
}

.bjn>button{
    margin-block: 2rem;
    height: 1.5rem;
    width: 6rem;
    background-color: #c7a17a;
    color: white;
    font-size: .7rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Roboto", serif;
    /* margin-bottom:-19rem; */
    /* margin-left: 21rem; */
 }

form{
    display: flex;
    gap: 1rem;
}

@media (min-width:320px) and (max-width:600px){
        .every{
            margin-top: 15rem;
        }
        .back>h1{
            text-align: center;
            width: 24rem;
            color: white;
            /* border: 2px solid white; */
            font-family: "Roboto", serif;
            font-weight: 600;
            margin-left: -.2rem;
            font-size: 1.4rem;
            padding-top: 4rem;
        }

        .back>img{
            margin-left: 10rem;
            height: 3rem;
        }

        .black{
            background-color: black;
            margin-top: 3rem;
            height: 43vh;
            width: 45vh;
            /* padding: 2rem; */
            padding-top: 2rem;
        }        

        .gold{
            /* margin: 2rem; */
            margin-left: -1.3rem;
            border: 1px solid #c7a17a;
            height: 30vh;
            width: 42vh;
        }
        .gold1{
            /* margin-left: 1rem; */
            margin-top: -1rem;
            /* margin: 2rem; */
            border: 1px solid #c7a17a;
            height: 34vh;
            width: 38vh;
        }
        
        .gold1>h2{
            margin-top: 4rem;
            color: white;
            text-align: center;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-size: 2.5rem;
        }
        
        .gold1>p{
            color: #fff;
            text-align: center;
            margin-top: -2rem;
            font-family: "Roboto", serif;
            font-weight: 400;
            font-size: .8rem;
        }
        
        .inp{
            border-bottom: 1px solid white;
            width: 9rem;
            margin-left: 1rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
        
        .inp>input{
            /* border-bottom: 1px solid white; */
            width: 7rem;
            margin-top: 1rem;
            /* text-align: center; */
            margin-left: 1rem;
            background-color: rgba(255, 0, 0, 0);
            border: none;
            outline: none;
            color: white;
        }
        
        .bjn>button{
            margin-block: 2rem;
            height: 1.5rem;
            width: 5rem;
            background-color: #c7a17a;
            color: white;
            font-size: .7rem;
            border-radius: 5px;
            text-transform: uppercase;
            font-weight: 400;
            font-family: "Roboto", serif;
            /* margin-bottom:-19rem; */
            /* margin-left: 21rem; */
         }
        
        form{
            display: flex;
            gap: 1rem;
        }

}